p
{
  font-family: Verdana;
  font-size: small;
  color: Teal;
  text-align: left;
}

hr 
{
  border: 0;
  border-top: 2px solid Teal;
  height: 2px;
}

h1
{
  font-size: large;
  color: Green;
}

h2
{
  font-family: Verdana;
  font-size: medium;
  margin-top: 30;
  color: Green;
}

table.header
{
  background-color: Lime;
}

td.title 
{
  font-size: 1em;
  text-align: center;
  font-family: verdana;
  font-size: x-large;
  font-weight: bolder;
  color: Teal;
}