<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <profile>
      <properties>
        <add name="firstname" type="System.String"/>
        <add name="lastname" type="System.String"/>
        <add name="phoneno" type="System.Int64"/>
      </properties>
    </profile>
  </system.web>
</configuration>